@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.grad--color-gastspieler {
    color: #66AA66;
    *, > code {
        color: #66AA66;
    }
}
.grad--color-anwaerter {
    color: #6CAACC;
    *, > code {
        color: #6CAACC;
    }
}
.grad--color-adler {
    color: #D18D1F;
    *, > code {
        color: #D18D1F;
    }
}
.grad--color-fuehrung {
    color: #8F1167;
    *, > code {
        color: #8F1167;
    }
}