
.theme-container.grad-landing-page {
    height 100vh;

    .page {
        height 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;

        .content {
            height 100%;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            display: flex;
            align-content: center;

            > *:first-child {
                margin-top: 0;
                margin-bottom: 3.6rem;
            }
        }
    }
}