@import url(https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro&display=swap);
.color-blob{width:2em;height:2em;display:block;box-shadow:0 10px 20px rgb(0 0 0/19%),0 6px 6px rgb(0 0 0/23%);background-color:currentColor;border-radius:1em}

